[mysqld]

# Limits the maximum number of client connections allowed.You set it to 5 (useful if you want to simulate overload/crash scenarios).
max_connections=5


# Unique ID for this MySQL server.Must be different from master (master = 1, slave = 2).Required for replication to work.
server-id=2


# File name prefix for relay logs.Slave stores copied binlog events here before executing them.
relay-log=relay-bin


# Makes the slave read-only.Prevents accidental writes directly to slave.Ensures data changes only come from master replication.
read-only=1


# Must match master's binlog format.ROW format replicates exact row changes (safe and recommended).
binlog_format=ROW




